@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Lato:wght@300;400&family=Oswald&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #fff;
    font-family: "Lato" sans-serif;
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
}

/* Header */

.navbar {
    background-color: #001514;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #E50914;
}

.navbar-nav .nav-link.active {
    color: #E50914;
}

.btn-search {
    border: 1px solid #E50914;
    color: #E50914;
    transition: background-color 0.5s;
}

.btn-search:hover {
    background-color: #E50914;
    color: #fff;
    border-color: #E50914;
}

.btn-signup {
    background-color: #E50914;
    border-color: #E50914;
    transition: background-color 0.5s;
}

.btn-signup:hover {
    background-color: #fff;
    color: #E50914;
}

.btn-signin {
    background-color: #fff;
    color: #E50914;
    border-color: #fff;
    transition: background-color 0.5s;
}

.navbar-toggler {
    background-color: #fff;
    border: none;
    transition: background-color 0.5s;
}

.navbar-toggler:hover {
    background-color: #E50914;
}

.offcanvas {
    background-color: #001514;
    color: #fff;
}

.offcanvas-body-menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn-close {
    background-color: #fff;
    transition: background-color 0.5s;
}

.form-control {
    border: none;
}

/* Footer */

footer {
    background-color: #001514;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #2b2b2b;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.socials {
    font-size: 1.5rem;
    margin: 1rem;
    color: #fff;
}

.socials:hover {
    color: #E50914;
}

/* Intro Section */

.intro {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    background-color: #001514;
}

/* Authentication Forms */

.auth-container {
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    padding: 1.5rem;
}

.auth-heading {
    margin-bottom: 1.5rem;
}

.asteriskField {
    display: none;
}

.divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #2b2b2b;
}

.divider-text {
    color: #767676;
    margin: 0 10px;
}

.btn-auth {
    width: 100%;
    background-color: #E50914;
    border: none;
}

/* Movie Lists */

.movie-list {
    border: 1px solid #2b2b2b;
    border-radius: 5px;
    padding: 2rem;
}

.movie-info {
    display: flex;
}

.movie-info img {
    border-radius: 5px;
}

.details {
    margin-left: 1rem;
}
