@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Lato:wght@300;400&family=Oswald&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #fff;
}

/* Header */

.navbar {
    background-color: #001514;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #E50914;
}

.navbar-nav .nav-link.active {
    color: #E50914;
}

.btn-search {
    border: 1px solid #E50914;
    color: #E50914;
}

.btn-search:hover {
    background-color: #E50914;
    color: #fff;
    border-color: #E50914;
}

.btn-signup {
    background-color: #E50914;
    border-color: #E50914;
}

.btn-signup:hover {
    background-color: #fff;
    color: #E50914;
}

.btn-signin {
    background-color: #fff;
    color: #E50914;
    border-color: #fff;
}

/* Footer */

footer {
    background-color: #001514;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #2b2b2b;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.socials {
    font-size: 1.5rem;
    margin: 1rem;
    color: #fff;
}

.socials:hover {
    color: #E50914;
}

/* Intro Section */

.intro {
    min-height: 75vh;
    background-color: #001514;
    display: flex;
    justify-content: center;
    align-items: center;
}
