{% extends 'base.html' %}

{% block content %}


<section class="intro">
    <!-- Unregistered Users Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome to MovieNest</h1>
                <p>Discover and explore a world of movies and entertainment. From the latest blockbusters to timeless classics, MovieNest is your one-stop destination for all things cinema.</p>
                <p>Join our community of movie enthusiasts, share your reviews, and stay up to date with the hottest trends in the film industry.</p>
                <p>Ready to embark on a cinematic journey? Dive in, search for your favorite movies, and start your movie adventure today!</p>
            </div>
        </div>
    </div>
</section>

{%endblock%}